ENVIRONMENT=production
DATABASE_URL=postgresql+asyncpg://postgres:YOUR_PASSWORD@host.docker.internal/gymtracker
DB_ECHO=false
DEBUG=false
SECRET_KEY=YOUR_64_CHAR_SECRET_STRING_HERE_CHANGE_ME_TO_SECURE_RANDOM_VALUE
